<%- include('../layout/header.ejs') %>
    <!--导入markdown的编辑样式及javascript-->
    <link rel="stylesheet" href="/node_modules/mditor/dist/css/mditor.min.css">
    <script src="/node_modules/mditor/dist/js/mditor.min.js"></script>

    <div class="container-fluid">
        <h1>
            <%= article.title %>
        </h1>
        <hr>

        <form id="form">
            <!-- <input type="hidden" name="authorId" id="authorId" value="<%= user.id %>"> -->
            <div class="form-group">
                <label for="">文章标题：</label>
                <input type="text" name="title" id="title" class="form-control" required maxlength="30" value="<%= article.title %>">
            </div>

            <div class="form-group">
                <label for="">文章内容：</label>
                <!--mditor  -->
                <textarea name="content" id="editor" class="form-control"><%= article.content %></textarea>
            </div>

            <div class="form-group clearfix">
                <input type="submit" value="发表文章" class="btn btn-primary pull-right">
            </div>
        </form>
    </div>
    <script>
        $(function () {
            var mditor = Mditor.fromTextarea(document.getElementById('editor'));

            $('#form').on('submit', function (e) {
                e.preventDefault();
                // console.log(mditor.value);
                $.ajax({
                    url: '/article/edit',
                    type: 'post',
                    data: {
                        title: $('#title').val(),
                        content: mditor.value,
                        id: '<%= article.id %>'
                    },
                    dataType: 'json'
                }).then(function (results) {
                    // console.log(results);
                    if(results.err_code === 0) {
                        location.href = '/article/info?id=<%= article.id %>';
                    }else {
                        alert(results.msg);
                    }
                })
            })
        })
    </script>

    <%- include("../layout/footer.ejs") %>